@font-face{font-family:"Tahoma";src:url("../font/tahoma.ttf") format("truetype");}
@font-face{font-family:"Caveat";src:url("../font/Caveat-Regular.ttf") format("truetype");font-weight:400;}
@font-face{font-family:"Caveat";src:url("../font/Caveat-Bold.ttf") format("truetype");font-weight:700;}
@font-face{font-family:"Cygre";src:url("../font/Cygre-Thin.ttf") format("truetype");font-weight:100;}
@font-face{font-family:"Cygre";src:url("../font/Cygre-Regular.ttf") format("truetype");font-weight:400;}
@font-face{font-family:"Cygre";src:url("../font/Cygre-Medium.ttf") format("truetype");font-weight:500;}
@font-face{font-family:"Cygre";src:url("../font/Cygre-Bold.ttf") format("truetype");font-weight:700;}
@font-face{font-family:"Golos Text VF";src:url("../font/GolosText-Regular.ttf") format("truetype");font-weight:400;}
@font-face{font-family:"Golos Text VF";src:url("../font/GolosText-SemiBold.ttf") format("truetype");font-weight:600;}
@font-face{font-family:"Helvetica Neue";src:url("../font/HelveticaNeue-Roman.otf") format("opentype");font-weight:400;}
@font-face{font-family:"Helvetica Neue";src:url("../font/HelveticaNeue-Medium.otf") format("opentype");font-weight:500;}
@font-face{font-family:"Inter";src:url("../font/Inter_28pt-Regular.ttf") format("truetype");font-weight:400;}
@font-face{font-family:"Inter";src:url("../font/Inter_28pt-Medium.ttf") format("truetype");font-weight:500;}
@font-face{font-family:"Inter";src:url("../font/Inter_28pt-Bold.ttf") format("truetype");font-weight:700;}
@font-face{font-family:"Inter Tight";src:url("../font/InterTight-Regular.ttf") format("truetype");font-weight:400;}
@font-face{font-family:"Inter Tight";src:url("../font/InterTight-Medium.ttf") format("truetype");font-weight:500;}
@font-face{font-family:"Inter Tight";src:url("../font/InterTight-SemiBold.ttf") format("truetype");font-weight:600;}
@font-face{font-family:"Involve";src:url("../font/Involve-Regular.ttf") format("truetype");font-weight:400;}
@font-face{font-family:"Involve";src:url("../font/Involve-Medium.ttf") format("truetype");font-weight:500;}
@font-face{font-family:"Involve";src:url("../font/Involve-SemiBold.ttf") format("truetype");font-weight:600;}
@font-face{font-family:"Involve";src:url("../font/Involve-Bold.ttf") format("truetype");font-weight:700;}
@font-face{font-family:"Manrope";src:url("../font/Manrope-Regular.ttf") format("truetype");font-weight:400;}
@font-face{font-family:"Manrope";src:url("../font/Manrope-Medium.ttf") format("truetype");font-weight:500;}
@font-face{font-family:"Mulish";src:url("../font/Mulish-Regular.ttf") format("truetype");font-weight:400;}
@font-face{font-family:"Mulish";src:url("../font/Mulish-Medium.ttf") format("truetype");font-weight:500;}
@font-face{font-family:"Mulish";src:url("../font/Mulish-Bold.ttf") format("truetype");font-weight:700;}

/* CSS-переменные */


:root{
  --font-family:"Involve",sans-serif;
  --second-family:"Cygre",sans-serif;
  --third-family:"Tahoma",sans-serif;
  --font3:"Inter",sans-serif;
  --font4:"Mulish",sans-serif;
  --font5:"Golos Text VF",sans-serif;
  --font6:"Inter Tight",sans-serif;
  --font7:"Helvetica Neue",sans-serif;
  --font8:"Caveat",sans-serif;
  --font9:"Manrope",sans-serif;
  --color-neutral-bg: #fcf6f0;
  --color-neutral-white: #fff;
  --color-neutral-200: #efefef;
  --color-color-500-secondary: #ffa811;
  --color-color-500-tertiary: #f46d44;
  --color-neutral-800: #302d2a;
  --color-color-500-extra-1: #ff5c85;
  --color-color-500-extra-2: #9358ff;
  --color-color-500-extra-3: #6427e6;
  --color-color-500-primary: #079247;
  --color-color-100-primary: #ecf6f1;
  --color-color-100-secondary: #fff5e0;
  --color-color-100-tertiary: #fff0e6;
  --color-color-100-extra-1: #ffe9ee;
  --color-color-100-extra-2: #f0e7ff;	
  --color-color-100-extra-3: #e4e2ff;
  --color-neutral-900: #120f0c;
  --color-neutral-300: #d9d7d5;
}



a{transition:all .4s ease;text-decoration:none;color:inherit;}
a:hover{color:inherit}
svg,svg *{transition: all .4s;}
ol,ul,p{padding: 0;margin: 0;}
li{list-style:none;}
img{max-width:100%;}
input,button{transition:all .4s ease;border:0;outline:none;box-shadow:unset;}
body{display: flex;flex-direction: column;background: #fcfaf6;min-height: 100vh;}
body::-webkit-scrollbar-track,::-webkit-scrollbar-track{background-color:transparent;border-radius:50px;}
body::-webkit-scrollbar,::-webkit-scrollbar{width:3px;border-radius:6px;height: 3px;}
body::-webkit-scrollbar-thumb,::-webkit-scrollbar-thumb{background-color:#fcfaf6;border-radius:50px;}
path{transition:all .4s ease;}


main{overflow: hidden;}
.logo-header{width: 34px;display: flex;}
.logo-header *{width: 100%;height: auto;}
.header-city{font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;color: var(--color-neutral-800);}
.header-content{background: var(--color-neutral-white);padding: 8px 16px;display: flex;align-items: center;justify-content: space-between;}
.title-first{font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;text-align: center;color: var(--color-color-500-primary);margin-bottom: 30px;}
.title-second{font-family: var(--font-family);font-weight: 700;font-size: 66px;line-height: 73%;text-align: center;color: var(--color-neutral-800);margin-bottom: 15px;}
.title-last{font-family: var(--font8);font-weight: 400;font-size: 42px;line-height: 100%;letter-spacing: -0.04em;text-align: center;color: var(--color-neutral-800);margin-bottom: 32px;}
.title-desc{font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;text-align: center;color: var(--color-neutral-800);margin-bottom: 28px;}
.adv-flex{display: flex;flex-direction: column;position: relative;width: 545px;margin: auto;}
.star-teacher{position: absolute;top: -74px;right: -295px;z-index: 1;overflow: hidden;display: flex;width: 305px;aspect-ratio: 1/1;align-items: center;justify-content: center;}
.star-teacher img{width: 98%;height: 98%;object-fit: cover;}
.star-teacher .star-img{position: absolute;width: 106%;height: 106%;object-fit: cover;z-index: 1;aspect-ratio: 1/1;}
.adv-item{font-family: var(--font-family);font-weight: 700;font-size: 16px;line-height: 125%;text-align: center;color: var(--color-neutral-white);background: var(--color-color-500-secondary);border-radius: 8px 24px 8px 8px;padding: 8px 16px;margin-left: auto;width: max-content;margin-right: 32px;}
.adv-item:nth-child(3){background: var(--color-color-500-primary);margin:25px 0 0 -33px;}
.adv-item:nth-child(4){background: var(--color-color-500-tertiary);margin: 43px 114px 0 auto;}
.btn-enroll{font-family: var(--font-family);font-weight: 700;font-size: 16px;line-height: 125%;text-align: center;color: var(--color-neutral-white);background: var(--color-neutral-800);border-radius: 8px;padding: 14px 16px;width: 438px;margin: 59px auto 0;display: flex;justify-content: center;}
.btn-enroll:hover{background: var(--color-neutral-800);}
.section-first{padding: 68px 0 50px;}
.section-first .container{position: relative;}
.star-fly-left{width: 290px;aspect-ratio: 1/1;height: auto;position: absolute;top: -18px;left: -76px;}
.language-svg{width: 145px;height: auto;aspect-ratio: 1/1;position: absolute;top: -15px;right: 30px;}
.book-svg{width: 140px;height: auto;aspect-ratio: 1/1;position: absolute;bottom: 14px;left: 145px;}
.content-block{background: var(--color-neutral-white);border-radius: 24px;padding: 24px;}
.title-our{font-family: var(--font-family);font-weight: 700;font-size: 32px;line-height: 112%;text-align: center;color: var(--color-neutral-800);margin-bottom: 55px;}
.mb-16{margin-bottom: 16px;}
.values-item{background: var(--color-color-500-secondary);border-radius: 12px;padding: 16px;position: relative;overflow: hidden;flex: 1 1 0;min-height: 175px;}
.values-item:nth-child(2){background: var(--color-color-500-tertiary);}
.val-name{font-family: var(--font-family);font-weight: 700;font-size: 16px;line-height: 125%;color: var(--color-neutral-white);margin-bottom: 8px;}
.val-desc{font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;color: var(--color-neutral-white);}
.val-img-svg{position: absolute;top: 0;right: -20px;width: 60%;height: 100%;object-fit: cover;margin: auto;}
.values-flex{display: flex;gap:16px;margin-bottom: 16px;padding-top: 4px;}
.val-img-back{position: absolute;top: 0;bottom: 0;right: 0;left: 0;object-fit: cover;z-index: -1;height: 100%;width: 100%;}
.ttl-value{font-family: var(--font8);font-weight: 400;font-size: 42px;line-height: 100%;letter-spacing: -0.04em;color: var(--color-neutral-white);}
.values-main-item{border-radius: 12px;padding: 24px;overflow: hidden;height: 420px;display: flex;flex-direction: column;justify-content: space-between;position: relative;z-index: 1;}
.val-small-flex{display: flex;gap:8px;max-width: 550px;flex-wrap: wrap;}
.val-small-item{font-family: var(--font-family);font-weight: 700;font-size: 16px;line-height: 125%;text-align: center;color: var(--color-neutral-white);background: var(--color-color-500-primary);border-radius: 8px 24px 8px 8px;padding: 8px 16px;width: max-content;}

.col-yellow{background: var(--color-color-500-secondary);}
.col-orange{background: var(--color-color-500-tertiary);}
.col-pink{background: var(--color-color-500-extra-1);}
.col-violet{background: var(--color-color-500-extra-2);}
.col-blue{background: var(--color-color-500-extra-3);}

.section-popular{padding: 50px 0;}
.edu-img{border-radius: 0 0 31px 0;width:89%;height: auto;object-fit: cover;}
.edu-year-txt{font-family: var(--font8);font-weight: 400;font-size: 24px;line-height: 120%;text-align: center;color: var(--color-neutral-800);background: var(--color-neutral-bg);border-radius: 8px 24px 8px 8px;padding: 8px 16px;width: max-content;margin-top: -20px;position: relative;z-index: 9;margin-left: 24px;}
.edu-name{font-family: var(--font-family);font-weight: 700;font-size: 16px;line-height: 125%;color: var(--color-color-500-primary);margin-bottom: 8px;}
.edu-desc{font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;color: var(--color-neutral-800);}
.edu-content{padding: 8px 24px;min-height: 125px;}
.edu-item{box-shadow: 0 0 6px 0 rgba(177, 146, 126, 0.2);background: var(--color-neutral-white);border-radius: 12px;overflow: hidden;}
@media (min-width:769px) {
  .edu-item:nth-child(n+4) .edu-head{text-align: end;}
  .edu-item:nth-child(n+4) .edu-img{border-radius: 0 0 0 31px;}
  .edu-item:nth-child(n+4) .edu-year-txt{margin-left: auto;margin-right: 24px;}
}
.edu-flex{display: grid;grid-template-columns: 1fr 1fr 1fr;gap:16px;padding-top: 5px;}
.edu-item:nth-child(1) .edu-name{color: var(--color-color-500-primary);}
.edu-item:nth-child(2) .edu-name{color: #ffa811;}
.edu-item:nth-child(3) .edu-name{color: #f46d44;}
.edu-item:nth-child(4) .edu-name{color: #ff5c85;}
.edu-item:nth-child(5) .edu-name{color: #9358ff;}
.edu-item:nth-child(6) .edu-name{color: #6427e6;}
.btn-more-edu{font-family: var(--font-family);font-weight: 700;font-size: 16px;line-height: 125%;color: var(--color-neutral-white);background: var(--color-neutral-800);border-radius: 8px;padding: 14px 16px;width: 300px;margin: 55px auto 0;display: flex;justify-content: center;}
.section-popular .container{position: relative;}
.edu-star3,.edu-star4,.edu-star2,.edu-star{width: 289px;aspect-ratio: 1/1;position: absolute;z-index: -1;}
.edu-star{top: 27px;left: -243px;}
.edu-star2{top: 250px;left: 150px;width: 351px;}
.edu-star3{top: -105px;right: -300px;width: 351px;}
.edu-star4{width: 351px;top: 252px;right: -31px;}
.education-desc{font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;text-align: center;color: var(--color-neutral-800);max-width: 575px;margin: 0 auto 40px;padding-top: 5px;}
.edu-svg{width: 43px;height: auto;margin-right: 15px;min-width: 43px}
.edu-item-txt{font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;color: var(--color-neutral-800);}
.edu-left-item{display: flex;align-items: center;border-bottom: 1px solid var(--color-neutral-200);padding: 14px 0 14px 7px;}
.edu-img-right{border-radius: 8px 32px 8px 8px;height: auto;aspect-ratio: 538 / 375;object-fit: cover;}
.education-flex{display: grid;gap: 16px;grid-template-columns: 1fr 1fr;}
.education-svg{position: absolute;width: 354px;right: -35.3%;top: -185px;z-index: -1;}
.prov-svg{width: 75px;min-width: 75px;height: auto;aspect-ratio: 1/1;}
.prov-ttl{font-family: var(--font-family);font-weight: 700;font-size: 16px;line-height: 125%;color: var(--color-neutral-800);margin-bottom: 4px;}
.prov-desc{font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;color: var(--color-neutral-800);}
.prov-item{background: var(--color-color-100-primary);border-radius: 8px 24px 8px 8px;padding: 16px;display: flex;align-items: center;gap:16px}
.prov-item:nth-child(2){background: var(--color-color-100-secondary);border-radius: 24px 8px 8px 8px;}
.prov-item:nth-child(3){background: var(--color-color-100-tertiary);border-radius: 8px 24px 8px 8px;}
.prov-item:nth-child(4){background: var(--color-color-100-extra-1);border-radius: 24px 8px 8px 8px;}
.prov-item:nth-child(5){background: var(--color-color-100-extra-2);border-radius: 8px 24px 8px 8px;}
.prov-item:nth-child(6){background: var(--color-color-100-extra-3);border-radius: 24px 8px 8px 8px;}
.prov-flex{display: grid;grid-template-columns: 1fr 1fr 1fr;gap: 16px;background: var(--color-neutral-white);border-radius: 24px;padding: 17px;margin-top: -12px;}
.talant-content{background-image: url(../img/bg-edu.png);background-position: center center;background-size: cover;border-radius: 12px;padding: 24px;position: relative;min-height: 400px;margin-top: 28px;}
.edu-prov-star{position: absolute;width: 377px;top: 52px;left: -425px;}
.talant-ttl{font-family: var(--font-family);font-weight: 700;font-size: 32px;line-height: 112%;color: var(--color-neutral-white);margin-bottom: 8px;max-width: 500px;}
.talant-desc{font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;color: var(--color-neutral-white);max-width: 500px;}
.edu-head-svg{width: 122px;height: 64px;position: absolute;top: 0;right: 24px;}
.talant-img{position: absolute;width: 445px;right: 50px;top: 5px;}
.schedule-time,.schedule-desc{font-family: var(--font-family);font-weight: 700;font-size: 16px;line-height: 125%;color: var(--color-neutral-800);}
.schedule-time{font-family: var(--font-family);font-weight: 700;margin-bottom: 3px;}
.schedule-item{background: var(--color-neutral-white);border-radius: 12px;padding: 16px;display: flex;align-items: center;gap:15px;transform: rotate(-2deg);}
.schedule-item svg{width: 32px;height: 32px;min-width:32px}
.schedule-item:nth-child(even){transform: unset;}
.schedule-content{max-width: 400px;display: flex;flex-direction: column;margin: auto;gap:10px}
.star-sched{width: 283px;position: absolute;top: -180px;right: -214px;}
.section-schedule{position: relative;padding-top: 180px;}
.star-sched2{position: absolute;width: 218px;top: 140px;left: -67px;}
.bg-line{position: absolute;bottom: -5px;left: 0;right: 0;z-index: -1;}
.swiper-gallery .swiper-slide{height: auto;aspect-ratio: 1140 / 480;width: 100%!important;}
.swiper-gallery .swiper-slide img{width: 100%;height: 100%;object-fit: cover;border-radius: 8px;}
.swiper-small-gallery .swiper-slide{aspect-ratio: 120 / 80;height: auto;}
.swiper-small-gallery .swiper-slide img{border-radius: 4px;width: 100%;height: 100%;object-fit: cover;}
.swiper-button-gal{box-shadow: 0 2px 4px 0 rgb(177 146 126 / 8%);background: var(--color-neutral-white);border-radius: 100px;width: 40px;height: 40px;top: unset;bottom: 0;}
.swiper-button-gal.swiper-button-next{right: 46%;}
.swiper-button-gal.swiper-button-prev{left: 46%;}
.swiper-button-gal.swiper-button-next:after, .swiper-button-gal.swiper-button-prev:after{font-size: 18px;margin: auto;}
.swiper-gallery{padding-bottom: 140px;}
.swiper-small-gallery{margin-top: -130px;margin-bottom: 50px;}
.ttl-important{margin-bottom: 30px;}
.important-item svg{margin-bottom: 14px;}
.important-item{min-height: 127px;}
.important-txt{font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;color: var(--color-neutral-800);}
.important-flex{display: grid;grid-template-columns: 1fr 1fr 1fr;gap:16px;padding-top: 40px;}
.partner-ttl{font-family: var(--font-family);font-weight: 700;font-size: 32px;line-height: 112%;color: var(--color-neutral-800);margin-bottom: 3px;}
.partner-desc{font-family: var(--font8);font-weight: 400;font-size: 42px;line-height: 100%;letter-spacing: -0.04em;color: var(--color-color-500-primary);}
.btn-parner-check{font-family: var(--font-family);font-weight: 700;font-size: 16px;line-height: 125%;color: var(--color-neutral-white);background: var(--color-neutral-900);border-radius: 8px;padding: 14px 16px;width: 500px;display: flex;justify-content: center;margin-top: 80px;}
.btn-parner-check:hover{background: var(--color-neutral-800);}
.partner-col{max-width: 500px;}
.part-img{width: 540px;position: absolute;right: -45px;top: -15px;bottom: 0;margin: auto;}
.parents-review img{box-shadow: 0 2px 4px 0 rgb(177 146 126 / 8%);border: 1px solid var(--color-neutral-200);border-radius: 12px;height: auto;width: 280px;object-fit: contain;}
.parents-review .swiper-slide{width: max-content;}
.parents-review{overflow: unset;padding-bottom: 96px;}
.section-gallery{overflow: hidden;}
.gal-svg{position: absolute;width: 267px;z-index: -1;bottom: 0;right: -30%;}
.faq-accordion-main .accordion-item{border: 0;background: transparent;border-bottom: 1px solid var(--color-neutral-200);}
.faq-accordion-main .accordion-button{background: transparent;font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;color: var(--color-neutral-800);padding: 18px 0;}
.faq-accordion-main .accordion-button::after{background-image: url(../img/PLus.svg);}
.faq-accordion-main .accordion-button:not(.collapsed)::after{transform: rotate(-45deg);background-image: url(../img/PLus.svg);}
.faq-accordion-main .accordion-button:focus{box-shadow: unset;border: 0;}
.faq-accordion-main .accordion-body{font-family: var(--font-family);font-weight: 400;font-size: 15px;line-height: 125%;color: var(--color-neutral-800);padding: 18px 0;}
.accor-svg{position: absolute;top: 180px;left: -165px;width: 325px;z-index: -1;}
.form-title{font-family: var(--font-family);font-weight: 700;font-size: 32px;line-height: 112%;color: var(--color-neutral-white);margin-bottom: 16px;}
.form-desc{font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;color: var(--color-neutral-white);margin-bottom: 16px;}
.input-form{font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;color: var(--color-neutral-900);background: var(--color-neutral-white);border: 1px solid var(--color-neutral-300);border-radius: 8px;padding: 14px 12px;width: 100%;margin-bottom: 16px;}
.input-form::placeholder{color: var(--color-neutral-300);}
.input-checked p{font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;color: var(--color-neutral-white);position: relative;padding-left: 40px;}
.input-checked p::after,.input-checked p::before{position: absolute;content: '';background: var(--color-neutral-white);border: 1px solid var(--color-neutral-200);border-radius: 3px;width: 21px;height: 21px;transition: all .4s;top: 0;bottom: 0;left: 0;margin: auto;}
.input-checked p::before{width: 17px;height: 17px;background: var(--color-neutral-900);opacity: 0;left: 2px;top: 1px;}
.input-checked input:checked+p::before{z-index: 9;opacity: 1;}
.btn-form-consul{font-family: var(--font-family);font-weight: 700;font-size: 16px;line-height: 125%;color: var(--color-neutral-white);background: var(--color-neutral-900);border-radius: 8px;padding: 14px 16px;display: flex;width: 100%;justify-content: center;margin-top: 16px;}
.btn-form-consul:hover{background: var(--color-neutral-800);}
.form-content{background: var(--color-color-500-primary);border-radius: 24px;padding: 24px;max-width: 400px;margin: auto;}
.form-section{background-image: url(../img/bg-form.png);background-position: center center;background-size: contain;background-repeat: no-repeat;}
.input-checked{display: flex;cursor: pointer;}
.contact-item{display: flex;align-items: center;gap:15px;border-bottom: 1px solid var(--color-neutral-200);padding: 13px 7px;font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;color: var(--color-neutral-800);}
.contact-item svg{width: 43px;}
a.contact-item:hover{color: var(--color-color-100-extra-3);}
.contact-map{aspect-ratio: 768/300;height: auto;width: 100%;border: 1px solid var(--color-neutral-200);border-radius: 8px;}
.contact-flex{display: grid;grid-template-columns: calc(30% - 12px) calc(70% - 12px);gap: 24px;background: var(--color-neutral-white);border-radius: 24px;padding: 24px;align-items: stretch;}
.ttl-contact{margin-bottom: 24px;text-align: start;}
.logo-footer{width: 34px;display: flex;margin-bottom: 24px;}
.foot-text{font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;color: var(--color-neutral-800);margin-bottom: 7px;}
.foot-txt-priv{font-family: var(--font-family);font-weight: 400;font-size: 16px;line-height: 125%;text-decoration: underline;text-decoration-skip-ink: none;color: var(--color-color-500-primary);}
.foot-col{max-width: 225px;}
.foot-soc{margin-left: auto;display: flex;width: 24px;}
.foot-flex{display: flex;}
.footer-section{padding:50px 0 70px;}






@media (min-width:1400px) {
	.container{max-width:1165px;}
}

@media (max-width:1500px) {
  .edu-prov-star{z-index: -1;left: -378px}

}

@media (max-width:1200px) {
  .education-svg{right: -16%;}
  .education-flex{display: flex;flex-direction: column-reverse;}
  .edu-img-right{aspect-ratio: 896 / 375;}
  .edu-prov-star{left: -210px;top: -216px;}
  .prov-flex{grid-template-columns: 1fr 1fr;}
  .talant-content{overflow: hidden;}
  .talant-img{width: 375px;right: 50px;top: 65px;}
  .section-schedule{padding-top: 50px;}
  .star-sched{width: 283px;top: -50px;right: -170px;}
  .star-sched2{top: 240px;}
  .swiper-gallery .swiper-slide{aspect-ratio: 944 / 480;}
  .swiper-button-gal.swiper-button-prev{left: 45%;}
  .swiper-button-gal.swiper-button-next{right: 45%;}
  .contact-flex{grid-template-columns: calc(35% - 12px) calc(65% - 12px);gap: 24px;}

}
@media (max-width:991px) {
  .star-fly-left{top: 20px;left: -250px;}
  .language-svg{top: 20px;right: -120px;}
  .star-teacher{top: -80px;right: -200px;z-index: -1;}
  .book-svg{bottom: 30px;left: 0;}
  .adv-item:nth-child(4){margin: 43px 140px 0 auto;}
  .val-small-flex{max-width: 100%;}
  .edu-flex{grid-template-columns: 1fr 1fr;}
  .edu-star2{top: 350px;left: -100px;}
  .talant-img{right: -15px;top: 235px;width: 221px;}
  .swiper-button-gal.swiper-button-prev{left: 43%;}
  .swiper-button-gal.swiper-button-next{right: 43%;}
  .partner-col{max-width: 290px;}
  .btn-parner-check{width: 100%;}
  .parents-review{padding-bottom: 60px;}
  .title-our{margin-bottom: 24px;}
  .contact-map{aspect-ratio: unset;}
  .contact-flex{grid-template-columns: 1fr 1fr;}

}
@media (max-width:768px) {
  .section-first{padding: 52px 0 30px;}
  .title-second{font-size: 48px;margin-bottom: 7px;}
  .title-last{margin-bottom: 20px;}
  .title-desc{margin-bottom: 100px;}
  .adv-flex{width: 320px;}
  .star-teacher{top: 20px;right: -85px;z-index: -1;width: 240px;}
  .adv-item{margin-right: 0;}
  .adv-item:nth-child(3){margin: 30px 0 0 -60px;}
  .adv-item:nth-child(4){margin: 90px 140px 0 auto;}
  .content-block{padding: 16px;}
  .title-our{text-align: start;}
  .values-flex{flex-direction: column;}
  .values-main-item{aspect-ratio: 358/420;height: auto;}
  .section-popular{padding: 28px 0;}
  .edu-flex{grid-template-columns: 1fr;}
  .edu-item:nth-child(even) .edu-head{text-align: end;}
  .edu-item:nth-child(even) .edu-img{border-radius: 0 0 0 31px;}
  .edu-item:nth-child(even) .edu-year-txt{margin-left: auto;margin-right: 24px;}
  .btn-more-edu{width: 100%;margin: 16px auto 0;}
  .education-desc{text-align: start;max-width: 100%;margin: 0 0 15px;}
  .edu-img-right{aspect-ratio: 358 / 330;}
  .education-svg{right: -28%;top: unset;bottom: -300px;}
  .edu-prov-star{top: 216px;}
  .prov-flex{grid-template-columns: 1fr;margin: 0;}
  .schedule-content{max-width: 100%;gap:16px;}
  .schedule-item{transform: unset;z-index: 1;}
  .swiper-button-gal.swiper-button-prev{left: 41%;}
  .swiper-button-gal.swiper-button-next{right: 41%;}
  .important-flex{grid-template-columns: 1fr;padding: 0;}
  .important-item{display: flex;min-height: unset;border-bottom: 1px solid var(--color-neutral-200);align-items: center;gap: 15px;padding: 12px 7px;}
  .important-item svg{margin-bottom: 14px;min-width: 46px;}
  .partner-flex{background: #fff;border-radius: 24px;padding: 24px 16px;margin-top: -57px;border-radius: 0 0 24px 24px;}
  .part-img{width: 35%;right: 0;top: -24px;bottom: unset;}
  .important-block{border-radius: 24px 24px 0 0;}
  .partner-col{max-width: 100%;}
  .partner-ttl{width: 90%;}
  .form-section{background: unset;}
  .form-content{padding: 16px;max-width: 100%;}
  .contact-flex{grid-template-columns: 1fr;padding: 16px;}
  .contact-map{aspect-ratio: 358/125;}
  .footer-section{padding: 28px 0 40px;}


}
@media (max-width:567px) {
  .adv-item:nth-child(3){margin: 30px 0 0 -14px;}
  .adv-item:nth-child(4){margin: 90px 100px 0 auto;}
  .btn-enroll{width: 100%;}
  .val-small-item{font-size: 14px;}
  .swiper-button-gal.swiper-button-prev{left: 37%;}
  .swiper-button-gal.swiper-button-next{right: 37%;}
  .contact-map{aspect-ratio: 358/260;}
}
